/*
	=========================
	|						            |
	| 	Search Styling	    |
	|						            |
	=========================
*/

.search {
  position: relative
}

.search > .prompt {
  margin: 0em;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(225, 255, 255, 0);
  text-shadow: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2142871em;
  padding: 0.67857143em;
  font-size: 1em;
  background: #ffffff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  -webkit-box-shadow: 0em 0em 0em 0em transparent inset;
  box-shadow: 0em 0em 0em 0em transparent inset;
  -webkit-transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, border-color 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
}

.search .prompt {
  border-radius: 500rem;
}

/* --- Icon --- */
.search .prompt ~ .search.icon {
  cursor: pointer;
}

/* --- Results --- */
.search > .results {
  display: none;
  position: absolute;
  top: 100%;
  left: 0%;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  white-space: normal;
  background: #ffffff;
  margin-top: 0.5em;
  width: 18em;
  border-radius: 0.29571429rem;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
  box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
  border: 1px solid #d4d4d5;
  z-index: 998;
}

.search > .results > :first-child {
  border-radius: 0em 0em 0.28571429rem 0.28571429rem;
}

.search > .results > :last-child {
  border-radius: 0em 0em 0.28571429rem 0.28571429rem;
}

/* --- Result --- */
.search > .results .result {
  cursor: pointer;
  display: block;
  overflow: hidden;
  font-size: 1em;
  padding: 0.85174286em 1.14285714em;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.33;
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
}

.search > .results .result:last-child {
  border-bottom: none !important;
}

/* Image */
.search > .results .result .image {
  float: right;
  overflow: hidden;
  background: none;
  width: 5em;
  height: 3em;
  border-radius: 0.25em;
}

.search > .results .result .image img {
  display: block;
  width: auto;
  height: 100%;
}

/* --- Info --- */
.search > .results .result .image + .content {
  margin 0em 0em 0em 0em;
}

.search > .results .result .title {
  margin: -0.14285714em 0em 0em;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.4);
}

.search > .results .result .price {
  float: right;
  color: #21ba45;
}

/* --- Message --- */
.search > .results > .message {
  padding: 1em 1em;
}

.search > .results > .message .header {
  font-familt: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
}

.search > .results > .message .description {
  margin-top: 0.25rem;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
}

/* View results */
.search > .results > .action {
  display: block;
  border-top: none;
  background: #f3f4f5;
  padding: 0.92857143em 1em;
  color: rgba(0, 0, 0, 0.87);
  font-weight: bold;
  text-align: center;
}

/*
	=========================
	|						            |
	| 	States styling	    |
	|						            |
	=========================
*/

/* -- Focus --- */
.search > .prompt:focus {
  border-color: rgba(34, 36, 38, 0.35);
  background: #ffffff;
  color: rgba(0, 0, 0, 0.95);
}

/* --- Loading --- */
.loading.search .input > i.icon:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: -064285714em 0em 0em -0.64285714em;
  width: 1.28571429em;
  height: 1.28571429em;
  border-radius: 500rem;
  border: 0.2em solid rgba(0, 0, 0, 0.1);
}

.loading.search .input > i.icon:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: -064285714em 0em 0em -0.64285714em;
  width: 1.28571429em;
  height: 1.28571429em;
  -webkit-animation: button-spin 0.6s linear;
  animation: button-spin 0.6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #767676 transparent transparent;
  border-style: solid;
  border-width: 0.2em;
  -webkit-box-shadow: 0px 0px 0px 1px transparent;
  box-shadow: 0px 0px 0px 1px transparent;
}

/* --- Hover --- */
.search > .results .result:hover, .category.search > .results .category .results:hover {
  background: #f9fafb;
}

.search .action:hover {
  background: #e0e0e0;
}

/* --- Active --- */
.category.search > .results .category.active {
  background: #f3f4f5;
}

.category.search > .results .category.active .name {
  color: rgba(0, 0, 0, 0.87);
}

.search > .results .result.active, .category.search > .results .category .result.active {
  position: relative;
  border-left-color: rgba(34, 36, 38, 0.1);
  background: #f3f4f5;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search > .results .result.active .title {
  color: rgba(0, 0, 0, 0.85);
}

.search > .results .result.active .description {
  color: rgba(0, 0, 0, 0.85);
}

/* --- Disabled --- */
.disabled.search {
  cursor: default;
  pointer-events: none;
  opacity: 0.45;
}

/*
	=========================
	|						            |
	| 	Types styling 	    |
	|						            |
	=========================
*/

/* --- Selection --- */
.search.selection .prompt {
  border-radius: 0.28571429rem;
}

/* remove input */
.search.selection > .icon.input > .remove.icon {
  pointer-events: none;
  position: absolute;
  left: auto;
  opacity: 0;
  color: '';
  top: 0em;
  right: 0em;
  -webkit-transition: color 0.1s ease, opacity 0.1s ease;
  transition: color 0.1s ease, opacity 0.1s ease;
}

.search.selection > .icon.input > .active.remove.icon {
  cursor: pointer;
  opacity: 0.8;
  pointer-events: auto;
}

.search.selection > .icon.input:not([class*"left icon"]) > .icon ~ .remove.icon {
  right: 1.85714em;
}

.search.selection > .icon.input > .remove.icon:hover {
  opacity: 1;
  color: #db2828;
}

/* --- Catagory --- */
